/* fonts ----------------------------------------------------------------- */


/* fonts ----------------------------------------------------------- [END] */

/* common ---------------------------------------------------------------- */

body{
    font-family:Arial, Helvetica, sans-serif;
}

/* common ---------------------------------------------------------- [END] */









/* media queries --------------------------------------------------------- */

/* /////////////////////////////////////////////////////////////////////// */
/* LARGE DESKTOP ///////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

@media (min-width: 1200px) {

}

/* /////////////////////////////////////////////////////////////////////// */
/* LARGE DESKTOP /////////////////////////////////////////////////// [END] */
/* /////////////////////////////////////////////////////////////////////// */


 

/* /////////////////////////////////////////////////////////////////////// */
/* SMALL DESKTOP ///////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

@media (min-width: 768px) and (max-width: 991px) {
    
}

/* /////////////////////////////////////////////////////////////////////// */
/* SMALL DESKTOP /////////////////////////////////////////////////// [END] */
/* /////////////////////////////////////////////////////////////////////// */

 


/* /////////////////////////////////////////////////////////////////////// */
/* SMALL TABLET & MOBILE ///////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

@media (max-width: 767px) {

}

/* /////////////////////////////////////////////////////////////////////// */
/* SMALL TABLET & MOBILE /////////////////////////////////////////// [END] */
/* /////////////////////////////////////////////////////////////////////// */




/* /////////////////////////////////////////////////////////////////////// */
/* SMALL DESKTOP & MOBILE COMBINED /////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

@media (max-width: 991px) {

}

/* /////////////////////////////////////////////////////////////////////// */
/* SMALL DESKTOP & MOBILE COMBINED ///////////////////////////////// [END] */
/* /////////////////////////////////////////////////////////////////////// */




/* /////////////////////////////////////////////////////////////////////// */
/* LANDSCAPE PHONES AND DOWN ///////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

@media (max-width: 480px) {

}

/* /////////////////////////////////////////////////////////////////////// */
/* LANDSCAPE PHONES AND DOWN /////////////////////////////////////// [END] */
/* /////////////////////////////////////////////////////////////////////// */




/* /////////////////////////////////////////////////////////////////////// */
/* mobile only background images ///////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
    
}

@media (max-width: 360px) {
    
}

/* /////////////////////////////////////////////////////////////////////// */
/* mobile only background images /////////////////////////////////// [END] */
/* /////////////////////////////////////////////////////////////////////// */

/* media queries --------------------------------------------------- [END] */




/* ==========================================================================
Print styles
========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* Print styles ==================================================== [END] */
